# 2.튜플의 요소값 지우거나 변경하려고 하면 어떻게 될까

In [1]:
tl = (1,2,'a','b')
del t1[0]

NameError: name 't1' is not defined

In [3]:
t1[0] =5

NameError: name 't1' is not defined

## 3. 튜플 다루기

In [4]:
# 인덱싱
t1 = (1,2, 'a','b')
print(t1[0])
print(t1[1])
print(t1[2])
print(t1[3])

1
2
a
b

In [6]:
# 슬라이싱
t1 [1:3]

(2, 'a')

In [7]:
print (t1[:2])
print (t1[2:])

(1, 2)
('a', 'b')

In [8]:
t2 = (3,4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [9]:
# 튜플 곱하기
t3 = t2 * 2 
t3

(3, 4, 3, 4)

In [10]:
len(t1)

4

In [11]:
len(t2)

2

In [12]:
len(t3)

4

In [13]:
type(t1)

tuple

In [14]:
type(t2)

tuple

In [16]:
t4 = 1,2,'a'
type(t4)

tuple