### 1. 파이썬 함수

In [4]:
def add(a,b):
    return a+b

a,b = 3,4
c = add(a,b)
print(c)
d = add (111,222)
print (d)

7
333

In [5]:
#1 .매개변수 0, 리턴값 0
def minus(a,b):
   result = a - b
   return result

a = minus (10,4)
print(a)

6

In [6]:
# 2. 매개변수 x  리턴값 0
def say(): 
    return 'Hi!'

print(say())

Hi!

In [11]:
# 3. 매개변수 0 리턴값 X
def add(x,y):
    print("%d,%d의 합은 %d입니다."%(x, y, x+y))

add(12,24)
a =add(3,4)
print(a)

12,24의 합은 36입니다.
3,4의 합은 7입니다.
None

In [12]:
# 4. 매개변수 x 리턴값 x
def say():
    print('hi')

say()

hi

In [14]:
# 키워드 매개 변수
def sub(a,b):
    return a - b

result = sub(7, 3)    
print(result)

result2 = sub(b=3, a=7)
print(result2)

4
4

In [17]:
# 가변 매개변수 (*매개변수명)
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result 

res1 = add_many(1,2,3,4,5)
print(res1)

res2 = add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

15
55

In [27]:
# 덧셈, 곱셈 둘다 연산 가능한 함수
def add_mul(*args,choice,):
    if choice == 'add':
        restul = 0
        for i in args:
         result += i
elif choice == 'mul':
         restul = 0
        for i in args:
         result *= i
 return result

res1 = add_mul('add',1,2,3)
print(res1)

res2 =add_mul('mul',1,2,3)
print(res2)

IndentationError: unindent does not match any outer indentation level (<string>, line 9)

In [28]:
# 키워드 가변 매개변수(**매개변수)
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)

{'a': 1}

In [30]:
def add_and_mul(a,b):
    return a+b, a*b

res = add_and_mul(3,4)
print(res)

res1, res2 = add_and_mul(3,4)
print("a+b =",res1)
print("a*b =",res2)

(7, 12)
a+b = 7
a*b = 12

In [32]:
def say_nick(nick):
if nick == '바보':
    return
    print("나의 별명은 %s 입니다."%nick)

say_nick('야호')

IndentationError: expected an indented block after function definition on line 1 (3667721550.py, line 2)